<a href="https://colab.research.google.com/github/Yashwanth-1406/Pyspark-yashwanth/blob/main/Rdd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark import SparkContext

sc = SparkContext("local", "EvenOddExample")

# Create an RDD with numbers from 1 to 10
numbers_rdd = sc.parallelize(range(1, 11))

# Filter even numbers
even_rdd = numbers_rdd.filter(lambda x: x % 2 == 0)

# Filter odd numbers
odd_rdd = numbers_rdd.filter(lambda x: x % 2 != 0)

# Collect and print one even and one odd number
print("One Even Number:", even_rdd.take(1))  # Example: [2]
print("One Odd Number:", odd_rdd.take(1))    # Example: [1]

One Even Number: [2]
One Odd Number: [1]

In [2]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [4]:
df.select("Name","Salary").show()

+-----+------+
| Name|Salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [8]:
from pyspark.sql.functions import col

# Add new column: Salary_After_Tax = Salary * 0.8 (i.e., 20% tax deducted)
df_with_tax = df.withColumn("Salary_After_Tax", col("Salary") * 0.8)

# Now sort by Salary_After_Tax descending
df_with_tax.sort(col("Salary_After_Tax").desc()).show()

+---+-----+----------+------+----------------+
| ID| Name|Department|Salary|Salary_After_Tax|
+---+-----+----------+------+----------------+
|  2| Jane|        IT|  8000|          6400.0|
|  4| Sara|   Finance|  7000|          5600.0|
|  3| Mike|        IT|  6000|          4800.0|
|  5|David|        HR|  5500|          4400.0|
|  1| John|        HR|  5000|          4000.0|
+---+-----+----------+------+----------------+

In [10]:
from pyspark.sql import Row
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Get SparkContext from SparkSession
sc = spark.sparkContext

# Create RDD of Row objects
rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])

# Convert RDD to DataFrame
df = spark.createDataFrame(rdd)

# Filter rows where age > 25
filtered_df = df.filter(df.age > 25)

# Select 'name' column from filtered DataFrame
filtered_df.select("name").show()

+----+
|name|
+----+
| Bob|
+----+

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [12]:
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [2]:
import random
import csv

# Generate 30 records with random data
names = ["John", "Jane", "Mike", "Sara", "David", "Emily", "George", "Nina", "Tom", "Anna"]
departments = ["Sales", "IT", "HR", "Finance", "Marketing"]
salaries = [3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

# Create and open a CSV file for writing
with open('employee_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)

    # Write the header
    writer.writerow(["ID", "Name", "Department", "Salary"])

    # Write the 30 records
    for i in range(1, 31):
        name = random.choice(names)
        department = random.choice(departments)
        salary = random.choice(salaries)
        writer.writerow([i, name, department, salary])

print("CSV file 'employee_data.csv' has been generated successfully.")

CSV file 'employee_data.csv' has been generated successfully.

In [3]:
from pyspark.sql.types import StringType,StructType,IntegerType

schema = StructType() \
      .add("EmpID", IntegerType()) \
      .add("Name", StringType()) \
      .add("Department",StringType())\
      .add("Salary", IntegerType())
print(schema)

StructType([StructField('EmpID', IntegerType(), True), StructField('Name', StringType(), True), StructField('Department', StringType(), True), StructField('Salary', IntegerType(), True)])

In [7]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkSQLBasics").getOrCreate()
stream_df=spark.readStream \
   .option("sep",",") \
   .schema(schema) \
   .csv("/content/empdata/")

stream_df.isStreaming

True

In [12]:
from pyspark.sql.functions import upper
transformed_df = stream_df.withColumn("NameUPPER",upper("Name"))

In [15]:
query = transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [9]:
%%bash
cat<<EOF > /content/empdata.employee_data2.csv
1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000
EOF

In [14]:
query = transformed_df.writeStream \
    .outputMode("append") \
    .format("json") \
    .option("path", "/tmp/stream_json_output") \
    .option("checkpointLocation", "/tmp/stream_checkpoint") \
    .start()

In [16]:
df = spark.read.json("/tmp/stream_json_output")
df.show()

+----------+-----+------+---------+------+
|Department|EmpID|  Name|NameUPPER|Salary|
+----------+-----+------+---------+------+
|Department| NULL|  Name|     NAME|  NULL|
| Marketing|    1|   Tom|      TOM| 10000|
|     Sales|    2|George|   GEORGE| 10000|
| Marketing|    3|  Jane|     JANE| 10000|
|        HR|    4|  John|     JOHN|  4000|
| Marketing|    5|  Nina|     NINA|  9000|
|        HR|    6| Emily|    EMILY|  4000|
| Marketing|    7| Emily|    EMILY|  3000|
|     Sales|    8|  Jane|     JANE|  7000|
| Marketing|    9|  Anna|     ANNA|  6000|
|        HR|   10|George|   GEORGE|  4000|
| Marketing|   11| Emily|    EMILY|  6000|
|        IT|   12|  Anna|     ANNA|  8000|
| Marketing|   13|  Sara|     SARA|  3000|
|   Finance|   14|  Anna|     ANNA|  3000|
| Marketing|   15|  Jane|     JANE|  3000|
|     Sales|   16|George|   GEORGE|  3000|
|        HR|   17|  Nina|     NINA|  4000|
|        HR|   18|George|   GEORGE|  9000|
|     Sales|   19|  John|     JOHN|  6000|
+----------+-----+------+---------+------+
only showing top 20 rows

In [17]:
pip install faker

Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 22.3 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.2

In [ ]:
from faker import Faker
import random
import time
import uuid

# Create Faker instance
fake = Faker()

# Output file
output_file = "/content/empdata/random_data.csv"

while True:
    emp_id = random.randint(1000, 9999)      # Random Employee ID
    name = fake.name()                       # Random Name
    department = fake.job()                  # Random Job Title as Department
    salary = random.randint(3000, 12000)     # Random Salary
    unique_id = uuid.uuid4()                 # Unique ID for no repetition

    record = f"{emp_id},{name},{department},{salary},{unique_id}\n"

    # Append to file
    with open(output_file, "a") as f:
        f.write(record)

    print("Generated:", record.strip())

    time.sleep(1)  # Wait 1 second before generating next line

Generated: 9056,Michael Richmond,Farm manager,7089,d02da143-bffd-4ce1-801d-84ee058d1386
Generated: 3826,Dr. Phillip Davis,Public relations officer,7174,8b4a1101-d2fc-4676-9e90-faeb091f1214
Generated: 3580,Raymond Smith,Social worker,9100,600b220f-52aa-4104-ad0f-9c593adf3d62
Generated: 2569,Andrew Butler,Airline pilot,4565,aff7eca1-23c7-4cef-a0f3-ed7b7a1a6584
Generated: 3485,David Ford,Medical secretary,7772,068a02a0-d26e-4ebd-b237-2c82698f690d
Generated: 6537,Christopher Garrison,Chartered public finance accountant,4137,a7eb83b3-ecfd-4805-97d1-a7b4dc7ab00f
Generated: 1554,Justin Russell,Engineer, electrical,8344,6daab10d-25a6-4f96-b374-bdc10c52a17a
Generated: 9201,Daniel Stephenson,Cytogeneticist,7717,d140da8f-564e-4825-9812-1321cdba6ef2
Generated: 7398,Nicole Boyd,Mudlogger,10004,7555a475-fcf9-4046-b1fe-bde259cfd246
Generated: 3046,Debra Harrison,Meteorologist,5314,8e8be89a-b6dc-4b86-a2d6-5ff7928c75ab
Generated: 5257,Alexander Gomez,Presenter, broadcasting,8756,660406b8-0399-4b08-907b-2febb74a2f23
Generated: 5539,Jennifer Roberts,Chief Marketing Officer,8747,432fc5bd-2df3-423d-b78a-88558aa8a020
Generated: 9427,Nicholas Whitney,Accounting technician,8731,cd1fae13-bbe8-41cc-811d-000690f5062e
Generated: 3507,Brandy Taylor,Cytogeneticist,3096,edcd18a6-09a9-44aa-be28-68711fb2960c
Generated: 9058,Dillon Peterson,Broadcast engineer,4172,b6b3cb9a-2984-4124-9cbd-6043d3411bef
Generated: 2975,Mrs. Peggy Lee,Building control surveyor,11622,2bb4e78b-5553-465c-9c21-72313c1540e8
Generated: 1465,Steven Harris,Therapist, nutritional,8215,04ec926d-a8ad-4fec-9b94-3de1031578b4
Generated: 7297,Kevin Howell,Restaurant manager,4204,4f8f978f-0939-463f-8e49-59e4e196fd24
Generated: 4977,Carlos Smith,Surveyor, mining,5254,58948c30-0755-4d99-8f1e-7966413d8cd9
Generated: 7627,Edward Newman,Investment analyst,8688,ddddf4df-ed1d-4713-b143-c54c7abc5bff
Generated: 5952,Kimberly Scott,Insurance claims handler,11429,03905e6b-8c1b-45a7-b5a6-2b28dc9f181b
Generated: 1640,Matthew Navarro,Teacher, English as a foreign language,5295,578fb1d0-8b86-4079-a6b6-f19b5724cc25
Generated: 4866,Brandon Gonzales,Glass blower/designer,3253,f6d48b89-d435-4119-868b-0565d76f220f
Generated: 7824,Benjamin Willis,Financial trader,7375,9b18b044-855b-4a82-9453-e14e5be7643a
Generated: 1813,Luke Collins,Retail banker,9097,784c8965-da14-44d3-bb90-da08bf7e7083
Generated: 7435,Marie Gonzalez,Building control surveyor,4412,bbee9479-f56a-434a-8ea7-9f576db26dae
Generated: 7505,Fernando Lee,Podiatrist,9155,d3455941-1b9e-43df-b65e-adaec15d0f4c
Generated: 6408,Heather Long,Copywriter, advertising,4216,3440daad-0731-4b78-bf01-c26e24142023
Generated: 7889,Lee Cooper,Farm manager,5104,a1b8b437-8983-4fe1-9a61-719aa918e455
Generated: 1213,Tina Barnes,Psychotherapist,10818,4c9e6e7e-4505-41f6-9ebb-805a2eff8139
Generated: 8039,Brenda Rodriguez,Warehouse manager,11613,6737ec5f-f018-4d3d-a462-6805ba2bcfe7

In [6]:
import os
os.makedirs('/content/empdata', exist_ok=True)
os.rename('/content/employee_data.csv', '/content/empdata/employee_data.csv')